<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: Mousefeed Configuration
    Description: 
Mousefeed Checkstyle Configuration
-->
<module name="Checker">
  <property name="severity" value="warning"/>
  <module name="TreeWalker">
    <module name="FileContentsHolder"/>
    <module name="JavadocType">
      <property name="authorFormat" value="\S"/>
    </module>
    <module name="JavadocMethod">
      <property name="scope" value="protected"/>
      <property name="allowMissingJavadoc" value="true"/>
    </module>
    <module name="JavadocVariable"/>
    <module name="JavadocStyle"/>
    <module name="TrailingComment">
      <property name="legalComment" value="^.*//\$NON-NLS-[\d]+\$"/>
    </module>
    <module name="ConstantName"/>
    <module name="LocalFinalVariableName"/>
    <module name="LocalVariableName"/>
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="PackageName"/>
    <module name="ParameterName"/>
    <module name="StaticVariableName"/>
    <module name="TypeName"/>
    <module name="AvoidStarImport"/>
    <module name="IllegalImport"/>
    <module name="RedundantImport"/>
    <module name="LineLength">
      <property name="ignorePattern" value="^import"/>
      <property name="max" value="120"/>
    </module>
    <module name="MethodLength"/>
    <module name="ParameterNumber"/>
    <module name="EmptyForIteratorPad"/>
    <module name="MethodParamPad"/>
    <module name="NoWhitespaceAfter"/>
    <module name="NoWhitespaceBefore"/>
    <module name="OperatorWrap"/>
    <module name="ParenPad"/>
    <module name="TypecastParenPad"/>
    <module name="WhitespaceAfter"/>
    <module name="WhitespaceAround">
      <property name="tokens" value="ASSIGN, BAND, BAND_ASSIGN, BOR, BOR_ASSIGN, BSR, BSR_ASSIGN, BXOR, BXOR_ASSIGN, COLON, DIV, DIV_ASSIGN, EQUAL, GE, GT, LAND, LCURLY, LE, LITERAL_ASSERT, LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_RETURN, LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, LOR, LT, MINUS, MINUS_ASSIGN, MOD, MOD_ASSIGN, NOT_EQUAL, PLUS, PLUS_ASSIGN, QUESTION, RCURLY, SL, SLIST, SL_ASSIGN, SR, SR_ASSIGN, STAR, STAR_ASSIGN, TYPE_EXTENSION_AND"/>
      <property name="allowEmptyMethods" value="true"/>
    </module>
    <module name="ModifierOrder"/>
    <module name="RedundantModifier"/>
    <module name="EmptyBlock">
      <property name="option" value="text"/>
    </module>
    <module name="LeftCurly"/>
    <module name="NeedBraces"/>
    <module name="RightCurly"/>
    <module name="ParameterAssignment"/>
    <module name="DoubleCheckedLocking"/>
    <module name="EmptyStatement"/>
    <module name="EqualsHashCode"/>
    <module name="HiddenField">
      <property name="ignoreConstructorParameter" value="true"/>
      <property name="ignoreSetter" value="true"/>
    </module>
    <module name="IllegalInstantiation">
      <property name="classes" value="java.lang.Boolean"/>
    </module>
    <module name="InnerAssignment"/>
    <module name="MagicNumber"/>
    <module name="MissingSwitchDefault"/>
    <module name="RedundantThrows">
      <property name="allowUnchecked" value="true"/>
    </module>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="ModifiedControlVariable"/>
    <module name="StringLiteralEquality"/>
    <module name="NestedIfDepth">
      <property name="max" value="2"/>
    </module>
    <module name="NestedTryDepth"/>
    <module name="SuperClone"/>
    <module name="SuperFinalize"/>
    <module name="IllegalCatch"/>
    <module name="IllegalThrows"/>
    <module name="JUnitTestCase"/>
    <module name="ReturnCount">
      <property name="max" value="3"/>
    </module>
    <module name="DeclarationOrder"/>
    <module name="ExplicitInitialization"/>
    <module name="DefaultComesLast"/>
    <module name="FallThrough"/>
    <module name="MultipleStringLiterals">
      <property name="ignoreStringsRegexp" value="unused"/>
    </module>
    <module name="MultipleVariableDeclarations"/>
    <module name="UnnecessaryParentheses"/>
    <module name="FinalClass"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="InterfaceIsType"/>
    <module name="VisibilityModifier"/>
    <module name="MutableException"/>
    <module name="BooleanExpressionComplexity"/>
    <module name="ClassDataAbstractionCoupling">
      <property name="max" value="12"/>
    </module>
    <module name="ClassFanOutComplexity">
      <property name="max" value="25"/>
    </module>
    <module name="CyclomaticComplexity"/>
    <module name="NPathComplexity"/>
    <module name="ArrayTypeStyle"/>
    <module name="TodoComment"/>
    <module name="UpperEll"/>
    <module name="UncommentedMain"/>
    <module name="MissingOverride"/>
    <module name="MissingDeprecated"/>
    <module name="ClassTypeParameterName"/>
    <module name="AbstractClassName">
      <property name="format" value="^Abstract.*$"/>
    </module>
    <module name="MethodTypeParameterName"/>
    <module name="ImportOrder">
      <property name="severity" value="ignore"/>
      <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
    </module>
    <module name="UnusedImports"/>
    <module name="ReturnNullInsteadOfBoolean"/>
    <module name="ReturnBooleanFromTernary"/>
    <module name="AbstractClassNameExtended"/>
    <module name="AnonInnerLength"/>
    <module name="GenericWhitespace"/>
    <module name="EmptyForInitializerPad"/>
    <module name="CovariantEquals"/>
    <module name="EqualsAvoidNull"/>
    <module name="FinalLocalVariable">
      <property name="tokens" value="PARAMETER_DEF,VARIABLE_DEF"/>
    </module>
    <module name="MissingCtor"/>
    <module name="PackageDeclaration"/>
    <module name="FinalParameters"/>
    <module name="OuterTypeFilename"/>
  </module>
  <module name="Translation"/>
  <module name="StrictDuplicateCode"/>
  <module name="SuppressionCommentFilter"/>
  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="RETURNCOUNT\:OFF"/>
    <property name="onCommentFormat" value="RETURNCOUNT\:ON"/>
    <property name="checkFormat" value="ReturnCount"/>
  </module>
  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="COUPLING\:OFF"/>
    <property name="onCommentFormat" value="COUPLING\:ON"/>
    <property name="checkFormat" value="ClassDataAbstractionCoupling|ClassFanOutComplexity"/>
  </module>
  <module name="JavadocPackage">
    <property name="allowLegacy" value="true"/>
  </module>
  <module name="Header">
    <property name="headerFile" value="D:\devel\repos\projects\mousefeedfork\com.mousefeed\header.txt"/>
    <property name="ignoreLines" value="2,18"/>
    <property name="fileExtensions" value="*.java"/>
  </module>
  <module name="FileTabCharacter"/>
  <module name="FileTabCharacter"/>
  <module name="NewlineAtEndOfFile">
    <property name="fileExtensions" value="*.java,*.properties,*.html,*.xml"/>
  </module>
  <module name="SuppressionFilter">
    <property name="file" value="D:\devel\repos\projects\mousefeedfork\com.mousefeed\suppressions.xml"/>
  </module>
</module>
