<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="MouseFeed"
            class="com.mousefeed.eclipse.preferences.PreferencePage"
            id="com.mousefeed.preferences.PreferencePage">
      </page>
      <page
            category="com.mousefeed.preferences.PreferencePage"
            class="com.mousefeed.eclipse.preferences.ActionInvocationPreferencePage"
            id="com.mousefeed.preferences.ActionInvocationPreferencePage"
            name="%actionInvocation">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.mousefeed.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.mousefeed.eclipse.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="The MouseFeed plugin commands"
            id="com.mousefeed.commands.category"
            name="%mouseFeedCommandCategory">
      </category>
      <command
            categoryId="com.mousefeed.commands.category"
            description="%configureActionInvocationDesc"
            id="com.mousefeed.commands.configureActionInvocation"
            name="%configureActionInvocation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.mousefeed.eclipse.commands.ConfigureActionInvocationHandler"
            commandId="com.mousefeed.commands.configureActionInvocation">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.mousefeed.commands.configureActionInvocation"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Shift+Ctrl+1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?after=redo">
         <command
               commandId="com.mousefeed.commands.configureActionInvocation"
               id="com.mousefeed.menus.configureActionInvocation"
               label="%configureActionInvocation"
               mnemonic="A"
               tooltip="%configureActionInvocationDesc">
         </command>
      </menuContribution>
   </extension>

</plugin>
